.header__post {
  background-image: url("./../img/overlay.png"), url("./../img/fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
  .header__post{
    background-image: url(./../img/overlay@2x.png), url(./../img/fon@2x.png);
  }
}
.header__post-title {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 2.64px;
  line-height: 136%;
  text-transform: uppercase;
  color: $main-color;
  padding-top: 200px;
  padding-bottom: 40px;
  text-align: center;
}
.header__post-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  color: rgb(255, 255, 255);
  background-color: $accent-color;
  cursor: pointer;
  margin-bottom: 200px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
  .header__post-title {
    font-size: 44px;
  }
}
// modal
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 999;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
  }
  .modal{
    border: none;
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

  .modal-svg{
    width: 18px;
    height: 18px;
    position: relative;
    left: 30px;
    top: 4px;
  }
  .modal-btn{
    background-color: white;
    border: none;
  }
  .modal-close{
    width: 18px;
    height: 18px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 51%;
    margin-top: 8px;
    padding: 6px;
    position: relative;
    left: 241px;
  }
  .modal-close:hover,
  .modal-close:focus{
    fill: $accent-color;
  }
  .modal-input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
  }
  .textarea-modal{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
    margin-left: 23px;
  }
  .modal-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .modal-checkbox{
    position: relative;
    top: 2px;
    right: 4px;
  }
  .btn-modal{
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #188ce8;
    border: none;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
  }
  .modal-text{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
    text-align: start;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 4px;
  }
